<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .Title }}
      {{ .Title }}
  {{ else }}
      Default Title
  {{ end }}</title>
 <!-- Bootstrap CSS -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <div class="container bg-body-tertiary mt-5">
    <header class="p-3 mb-3 border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
            Home
          </a>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="generate-pdf" class="nav-link px-2 link-danger">Generate PDF</a></li>
            <li><a href="generate-html-to-pdf" class="nav-link px-2 link-primary">Generate HTML TO PDF</a></li>
            <li><a href="fake-store" class="nav-link px-2 link-secondary">Generate Fake User</a></li>
            <li><a href="export-excel" class="nav-link px-2 link-info">Export Excel</a></li>
          </ul>
  
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 form-inline">
            <input type="search" class="form-control" name="search" placeholder="Search..." aria-label="Search">
          </form>
          {{ if .UserInfo }}
          <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              {{ if .UserInfo.Image }}
              <img src="/uploaded/files/{{ .UserInfo.Image | html }}" alt="mdo" width="32" height="32" class="rounded-circle">
              {{ else }}
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
              {{ end }}
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
              <li><a class="dropdown-item" href="#">{{ .UserInfo.FirstName }}{{ .UserInfo.LastName }}</a></li>
              <li><a class="dropdown-item" href="#">{{ .UserInfo.Email }}</a></li>
              <li><a class="dropdown-item" href="#">{{ .UserInfo.Phone }}</a></li>
              <li><a class="dropdown-item" href="#">{{ .UserInfo.Age }}</a></li>
              <li><a class="dropdown-item" href="#">{{ .UserInfo.Image }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="user-logout">Sign out</a></li>
            </ul>
          </div>
          {{ else }}
            <ul class="nav">
              <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Login</a></li>
              <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Sign up</a></li>
            </ul>
          {{ end }}
        </div>
      </div>
    </header>
      <h2>List View</h2>
      <div class="row">
        <div class="d-grid gap-4 d-md-flex justify-content-md-end">
          <form class="row gy-2 gx-2 align-items-center border-bottom" action="/?search=" method="GET">
            <div class="col-auto">
              <input type="text" class="form-control" name="search" id="autoSizingInput" value="{{ .paramSearch }}" placeholder="Email/Name/Phone">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
          <form class="row gy-2 gx-2 align-items-center border-bottom" action="import-csv" method="post" enctype="multipart/form-data">
            <div class="col-auto">
              <input type="file" class="form-control" name="file">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-warning">Import CSV</button>
            </div>
          </form>
          <a href="add-user" class="btn btn-success float-right my-3 me-md-2">Add User</a>
        </div>
        
      {{ if .Success }}
          <div class="alert alert-success">{{ .Success }}</div>
      {{ end }}
      {{ if .DangerMessage }}
          <div class="alert alert-danger">{{ .DangerMessage }}</div>
      {{ end }}
      <br>
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">ID</th>
              <th scope="col">Image</th>
              <th scope="col">FullName</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
              <th scope="col">Age</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
              {{range $index, $user :=  .Users}}
            <tr>
              <th scope="row">{{ $index  }}</th>
              <th scope="row">{{ .ID }}</th>
              <td>
                {{ if .Image }} 
                  <a target="_blank" href="/uploaded/files/{{ .Image | html }}">
                    <img src="/uploaded/files/{{ .Image | html }}" class="img-thumbnail" width="100" height="100" alt="No-Image"/>
                  </a>
                {{ else }}
                  -
                {{ end }}
              
              </td>
              <td>{{ .FirstName }} {{ .LastName }}</td>
              <td>{{ .Phone }}</td>
              <td>{{ .Email }}</td>
              <td><span class="badge bg-success text-white">{{ .Age }}</span></td>
              <td>
                <a href="{{ .ID }}/edit" class="btn btn-success">Edit</a>
                <a href="{{ .ID }}/send-email" class="btn btn-primary">Send Email</a>
                <form action="/delete" method="post">
                  <input type="hidden" name="user_id" value="{{ .ID }}">
                  <button class="btn btn-danger" type="submit">Delete</button>
                </form>
              </td>
            </tr>
            {{ end }}
          </tbody>
      </table>
      {{ if .TotalPage }}
      {{ .TotalPage }}
      {{ end }}
      <nav aria-label="Page navigation example">
        <ul class="pagination flex-wrap justify-content-end">
            <li class="page-item{{ if le .PrevPage 0 }} disabled{{ end }}">
                <a class="page-link" href="?page={{ .PrevPage }}"{{ if le .PrevPage 0 }} tabindex="-1" aria-disabled="true"{{ end }}>Previous</a>
            </li>
            {{ range .Pages }}
                <li class="page-item{{ if eq . $.Page  }} active{{ end }}">
                    <a class="page-link" href="?page={{ . }}">{{ . }}</a>
                </li>
            {{ end }}
            <li class="page-item{{ if gt .NextPage .TotalPage }} disabled{{ end }}">
                <a class="page-link" href="?page={{ .NextPage }}"{{ if gt .NextPage .TotalPage }} tabindex="-1" aria-disabled="true"{{ end }}>Next</a>
            </li>
        </ul>
    </nav>
    
  </div>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
